body {
    background-color: rgb(223, 228, 223);
    color: white;
}

.navbar-nav .nav-link {
    color: black;
}

.nav-link:hover {
    color: #bebebe;
    transition: all 0.3s ease-in-out;
}

.card{
    padding: 10px;
}

.logo{
    width: 5rem;
}

nav{
    background-color:  #234146d5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#sobre{
    margin-top: 100px;
    scroll-margin-top: 150px;
}

#mission{
    scroll-margin-top: 150px;
}

.content{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.dono{
    width: 15rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.logo2{
    width: 20rem;
}

.marginauto{
    margin: auto;
}



.title{
    color: #234146;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 5px 5px 10px #234146;
    animation: pulsar 2s infinite;
}

.title2{
    color: #B96647;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 5px 5px 10px #B96647;
    animation: pulsar 2s infinite;
}

@keyframes pulsar {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    
}

.sobre{
    background-color: rgb(210, 230, 210);
    border-radius: 30px;
    /* border: 1px solid #234146; */
    box-shadow: 5px 2px 30px #234146;

}

.titlesobre{
    color:  rgb(78, 105, 98);
    font-size: 2.5rem;
}

.conteudo{
    color: #000;
}

.mission{
    background-color: rgb(210, 230, 210);
    border-radius: 30px;
    /* border: 1px solid #234146; */
    box-shadow: 5px 2px 30px #234146;
}

.textmission{
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.divimgmission{
    margin: auto;
}

.imgmission{
    width: 20%;
    /* margin: auto; */
}

ul{
    list-style: none;
    text-align: center;
}

.convenios{
    background-color: rgb(210, 230, 210);
    border-radius: 30px;
    /* border: 1px solid #234146; */
    box-shadow: 5px 2px 30px #234146;
    
}

.btn-custom{
    color: white;
    background-color: red;
    transition: ease-in-out 0.3s;
}

.btn-custom:hover{
    color: white;
    background-color: rgb(255, 93, 93);
    transition: ease-in-out 0.3s;
}

.btn-contact{
    background-color: rgb(89, 89, 247);
    color: white;
}

.btn-contact:hover{
    background-color: rgb(40, 40, 153);
    color: white;
}

.convenios{
    padding-bottom: 20px;
}

.card{
    height: 500px;
    text-align: center;
    padding: 20px;
}

.btnmodal{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(1);
}

#convenios{
    scroll-margin-top: 150px;
}

.contato{
    background-color: rgb(210, 230, 210);
    border-radius: 30px;
    /* border: 1px solid #234146; */
    box-shadow: 5px 2px 30px #234146;
    color: black;
    padding: 10px;
}

.subtitle{
    color:  rgb(78, 105, 98);
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.content-contact{
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}

.content-contact:hover{
    color: #555555;
    transition: all 0.3s ease-in-out;
}

.btncopy{
    background-color: rgb(89, 89, 247);
    color: white;
    text-align: center;
}

.btncopy:hover{
    background-color: rgb(40, 40, 153);
    color: white;
}

.emailft{
    width: 20px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.whatsappft{
    width: 20px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.enderecoft{
    width: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
    filter: invert(1);
}

.telefoneft{
    width: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.footer{
    text-align: center;
    margin-top: 50px;
    color: rgb(35, 65, 70, 0.5);
    margin-bottom: 20px;
}

.footer a{
    text-decoration: none;
    color: rgb(35, 65, 70, 0.7);
    font-weight: bold;
}